streamlit>=1.40,<2
streamlit-folium>=0.24,<1
folium>=0.18,<1
pystac-client>=0.8,<1
planetary-computer>=1.0,<2
rasterio>=1.4,<2
numpy>=1.26,<2
pandas>=2.2,<3
python-dateutil>=2.9,<3
pyarrow>=14,<20
Pillow>=10,<12
